.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.line-components {
  display: flex;
  align-items: center;
}

.nav {
  display: block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.activ {
  color: red;
}
